<div class="container px-5 px-s-0">
 <div class="row">
  <div class="col-md-3">
      <h2>User info</h2>
       <img class="<%= attachment_image_tag user, :profile_image %>" class="img-fluid" alt="">
       <table class="table">
           <tbody>
               <tr>
                  <th>name</th>
                  <th><%= user.name %></th>
               </tr>
               <tr>
                  <th>introduction</th>
                  <th><%= user.introduction %></th>
               </tr>
            </tbody>
        </table>
        <div class="row">
         <a class="btn btn-outline=secondary btn-block">
         <%= link_to edit_user_path(current_user.id) do %>
         <i class="fas fa-user-cog"></i>
         <% end %>
         </a>
        </div>