<h4>Books</h4>
  <% @books.each do |book| %>
  <table>
      <thead>
       <tr>
        <th><%= attachment_image_tag @user, :profile_image %></th>
        <%= link_to book_path(book.id) do %>
        <th>Title:<%= book.title %></th>
        <% end %>
        <th>Opinion:<%= book.body %></th>
       </tr>
      </thead>
  </table>
<% end %>
